ion-searchbar {
    --border-radius: 10px !important;
    --box-shadow: none !important;
    --color: #000 !important;
    --background: #EFEFEF;
}

ion-grid {
    img {
        width: 128px;
        max-height: 256px;
    }
}