<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-grid>
      <ion-row>

        <ion-col size="4">
          <ion-row>
            <a href="tabs">
              <img src="../../assets/logo.png" alt="Instagram logo" srcset="">
            </a>
          </ion-row>
        </ion-col>

        <ion-col size="4" class="hidden-mobile" id="search-container">
          <ion-row>
            <ion-searchbar placeholder="Pesquisar" searchIcon="search-outline"></ion-searchbar>
          </ion-row>
        </ion-col>

        <ion-col id="tabs-links">
          <ion-row>

            <ion-tab-button tab="tab1" mode="ios">
              <ion-icon name="home-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab2" mode="ios">
              <ion-icon name="send-outline"></ion-icon>
            </ion-tab-button>
        
            <ion-tab-button tab="tab3" mode="ios">
              <ion-icon name="compass-outline"></ion-icon>
            </ion-tab-button>

          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-tab-bar>

</ion-tabs>
