<ion-header class="ion-no-border ion-padding">
  <ion-row id="header">
    <ion-col size="4">
      <a href="">
        <img src="../../assets/logo.png" alt="Instagram logo" srcset="">
      </a>
    </ion-col>
    <ion-col size="4" id="search-container">
      <ion-searchbar placeholder="Pesquisar" searchIcon="search-outline"></ion-searchbar>
    </ion-col>
    <ion-col id="tabs-links">

      <ion-icon 
        class="hidden-mobile" 
        name="{{ this.getPath() == 'home' ? 'home' : 'home-outline' }}"
        routerLink="/home"
        routerDirection="root">
      </ion-icon>

      <ion-icon 
        name="add-circle-outline">
      </ion-icon>

      <ion-icon 
        name="heart-outline">
      </ion-icon>

      <ion-icon 
        name="{{ this.getPath() == 'direct' ? 'send' : 'send-outline' }}"
        routerLink="/direct"
        routerDirection="root">
      </ion-icon>

      <ion-icon class="hidden-mobile" 
        name="{{ this.getPath() == 'explore' ? 'compass' : 'compass-outline' }}">
      </ion-icon>

      <ion-icon class="hidden-mobile" 
        name="person-outline">
      </ion-icon>
    </ion-col>
  </ion-row>
</ion-header>