<ion-header class="ion-no-border ion-padding">
  <ion-row id="header">
    <ion-col size="4">
      <a href="">
        <img src="../../assets/logo.png" alt="Instagram logo" srcset="">
      </a>
    </ion-col>
    <ion-col size="4" id="search-container">
      <ion-searchbar class="ion-text-center" placeholder="Pesquisar" searchIcon="search-outline"></ion-searchbar>
    </ion-col>
    <ion-col id="tabs-links">

      <ion-icon 
        class="hidden-mobile" 
        name="{{ this.getPath() == 'home' ? 'home' : 'home-outline' }}"
        routerLink="/home"
        routerDirection="root">
      </ion-icon>

      <ion-icon 
        name="add-circle-outline"
        id="open-modal">
      </ion-icon>

      <ion-modal #modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-row class="ion-justify-content-center">
                <b>Criar nova publicação</b>
              </ion-row>
            </ion-toolbar>
            <ion-row class="ion-justify-content-center ion-align-items-center" id="file-input">
              <h3 class="ion-text-center">Arraste as fotos e os vídeos aqui</h3>
              <br><br>
              <ion-button class="ion-text-center">
                <p>Selecionar do computador</p>
              </ion-button>
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-icon 
        name="heart-outline"
        id="heart-trigger"
        class="hidden-mobile">
      </ion-icon>

      <ion-icon 
        name="heart-outline"
        routerLink="/accounts/activity"
        class="hidden-desktop">
      </ion-icon>


      <ion-popover 
      trigger="heart-trigger" 
      triggerAction="click"
      id="heart-popover"
      dismissOnSelect="true"
      side="left">
        <ng-template>
          <ion-content>
            <div class="activity-group">
              <span>Esta semana</span>
              <app-activity-card></app-activity-card>
              <app-activity-card></app-activity-card>
            </div>
            <div class="activity-group">
              <span>Este mês</span>
              <app-activity-card></app-activity-card>
              <app-activity-card></app-activity-card>
              <app-activity-card></app-activity-card>
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>

      <ion-icon 
        name="{{ this.getPath() == 'direct' ? 'send' : 'send-outline' }}"
        routerLink="/direct"
        routerDirection="root">
      </ion-icon>

      <ion-icon class="hidden-mobile"
        routerLink="/explore"
        routerDirection="root"
        name="{{ this.getPath() == 'explore' ? 'compass' : 'compass-outline' }}">
      </ion-icon>

      <ion-icon class="hidden-mobile" name="person-outline" id="click-trigger">
      </ion-icon>

      <ion-popover 
      trigger="click-trigger" 
      triggerAction="click"
      id="profile-popover"
      dismissOnSelect="true"
      side="left">
        <ng-template>
          <ion-content>
            <ion-row class="prof-popover-link" routerLink="/profile" onclick="{dismissModal()}">
              <ion-icon name="person-outline" ></ion-icon>
              Perfil
            </ion-row>
            <ion-row class="prof-popover-link">
              <ion-icon name="bookmark-outline"></ion-icon>
              Salvos
            </ion-row>
            <ion-row class="prof-popover-link">
              <ion-icon name="cog-outline"></ion-icon>
              Configurações
            </ion-row>
            <ion-row class="prof-popover-link" routerLink="/login">
              <ion-icon name="repeat-outline"></ion-icon>
              Trocar de conta
            </ion-row>
            <ion-row class="prof-popover-link" routerLink="/login">Sair
            </ion-row>
          </ion-content>
        </ng-template>
      </ion-popover>
      
    </ion-col>
  </ion-row>
</ion-header>