* {
    padding: 0;
    margin: 0;
}

ion-tab-bar {
    padding: 0 2rem;

    ion-tab-button {
        margin: 0 .4rem;
    }

    ion-searchbar {
        --border-radius: 10px !important;
        --box-shadow: none !important;
        --color: #000 !important;
        --background: #EFEFEF;
    }

    #links {
        justify-content: end;
    }
}