* {
    padding: 0;
    margin: 0;
}

ion-tab-bar {
    padding: .5rem .4rem 0;

    ion-searchbar {
        --border-radius: 10px !important;
        --box-shadow: none !important;
        --color: #000 !important;
        --background: #EFEFEF;
    }

    ion-tab-button {
        // REMOVE ICON's DEFAULT TOOLTIP
        ion-icon {
            font-size: 24px;
            color: #000;
        }
        ion-icon:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    #tabs-links {
        display: flex;
        justify-content: end;
    }
}

@media screen and (max-width: 930px){
    .hidden-mobile {
        display: none !important;
    }
}


@media screen and (max-width: 512px){
    ion-tab-button {
        margin: 0 !important;
    }
}