<app-header class="hidden-mobile"></app-header>
<ion-header class="hidden-desktop ion-no-border" id="mobile-header">
    <ion-col size="2">
        <ion-icon id="return-arrow" 
        name="arrow-back" 
        ios="ios-arrow-back"
        routerLink="/home"></ion-icon>
    </ion-col>
    <ion-col size="6">
        <ion-row class="ion-align-items-center">
            <h3>seu_nome</h3>
            <ion-icon name="arrow-down"></ion-icon>
        </ion-row>    
    </ion-col>
    <ion-col id="actions">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-icon name="add-outline"></ion-icon>
    </ion-col>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-row id="search-container" class="ion-justify-content-center hidden-desktop">
        <ion-searchbar class="ion-text-center" placeholder="Pesquisar" searchIcon="search-outline"></ion-searchbar>
    </ion-row>
    
    <ion-row id="contacts-online" class="ion-margin-bottom hidden-desktop">
        <swiper [slidesPerView]="5" class="swiper">
            <ng-template swiperSlide *ngFor="let x of users">
                <div class="contact" routerLink="t/{{x?.name}}" routerDirection="root">
                    <img src="../../assets/{{x?.profile_image}}" alt=""/>
                    <h6>{{x?.name}}</h6>
                </div>
            </ng-template>
        </swiper>
    </ion-row>

    <ion-row id="messages-divisory" class="ion-justify-content-between ion-padding-horizontal hidden-desktop">
        <b>Mensagens</b>
        <a href="">Solicitações</a>
    </ion-row>

    <div id="content">
        <ion-row class="ion-justify-content-center">
            <ion-col id="chats-container" sizeSm="12" sizeLg="3">
                <ion-row class="hidden-mobile ion-padding-vertical" id="profile-inbox">
                    <b>seu_nome ></b>
                </ion-row>

                <div id="chats">
                    <ion-row *ngFor="let x of users">
                        <div class="contact" routerLink="t/{{x?.name}}" routerDirection="root">
                            <img src="../../assets/{{x?.profile_image}}" alt=""/>
                            <ion-col class="labels">
                                <b>{{x?.name}}</b>
                                <p>Online há n h</p>
                            </ion-col>
                            <ion-col class="camera_action hidden-desktop">
                                <ion-icon name="camera-outline"></ion-icon>
                            </ion-col>
                        </div>
                    </ion-row>
                </div>
            </ion-col>

            <ion-col 
            class="hidden-mobile" 
            size="6" 
            id="chat">
                <img src="../../assets/direct-logo.png" alt="">
                <h2>Suas mensagens</h2>
                <p>Envie fotos e mensagens privadas para um amigo ou grupo.</p>
                <ion-button>
                    Enviar mensagem
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
