<ion-header>
  <ion-row class="ion-align-items-center ion-padding">
    <ion-icon name="arrow-back" size="large" routerLink="/home"></ion-icon>
    <h2 class="ion-margin-start">Atividade</h2>
  </ion-row>
</ion-header>

<ion-content>
  <div class="activity-group">
    <span>Esta semana</span>
    <app-activity-card></app-activity-card>
    <app-activity-card></app-activity-card>
  </div>
  <div class="activity-group">
    <span>Este mês</span>
    <app-activity-card></app-activity-card>
    <app-activity-card></app-activity-card>
    <app-activity-card></app-activity-card>
  </div>
</ion-content>
