<app-header class="hidden-mobile"></app-header>
<ion-header class="hidden-desktop ion-no-border" id="mobile-header">
    <ion-col size="2">
        <ion-icon id="return-arrow" 
        name="arrow-back" 
        ios="ios-arrow-back"
        routerLink="/home"></ion-icon>
    </ion-col>
    <ion-col size="6">
        <ion-row class="ion-align-items-center">
            <h3>seu_nome</h3>
            <ion-icon name="arrow-down"></ion-icon>
        </ion-row>    
    </ion-col>
    <ion-col id="actions">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-icon name="add-outline"></ion-icon>
    </ion-col>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="content">
        <ion-row class="ion-justify-content-center">
            <ion-col id="chats-container" sizeSm="12" sizeLg="3" class="hidden-mobile">
                <ion-row class="hidden-mobile ion-padding-vertical" id="profile-inbox">
                    <b>seu_nome ></b>
                </ion-row>

                <div id="chats" >
                    <ion-row *ngFor="let x of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 1, 1, 1, 1, 1, 1]">
                        <div class="contact" routerLink="/direct/t/{{x}}" routerDirection="root">
                            <img src="../../assets/image.jpg" alt=""/>
                            <ion-col class="labels">
                                <b>fulano</b>
                                <p>Online há n h</p>
                            </ion-col>
                            <ion-col class="camera_action hidden-desktop">
                                <ion-icon name="camera-outline"></ion-icon>
                            </ion-col>
                        </div>
                    </ion-row>
                </div>
            </ion-col>
            <ion-col  
            size="6" 
            id="chat">
                <ion-row id="chat-props" class="ion-padding">
                  <ion-col>
                    <b>{{getPath()}}</b>
                  </ion-col>
                  <ion-col id="chat-actions">
                    <ion-icon name="call-outline"></ion-icon>
                    <ion-icon name="videocam-outline"></ion-icon>
                    <ion-icon name="information-circle-outline"></ion-icon>
                  </ion-col>
                </ion-row>

                <ion-row id="chat-container">
                  <ion-item>
                    <p>🙂</p>
                    <ion-input type="text" placeholder="Mensagem..."></ion-input>
                    <ion-icon name="image-outline"></ion-icon>
                    <ion-icon name="heart-outline"></ion-icon>
                  </ion-item>
                </ion-row>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
