<ion-content>
  <ion-row id="login-content">
    <ion-col id="login-mockup">
      <img src="../../assets/start_imgs/two.png" alt="">
    </ion-col>

    <ion-col id="login-form">
      <div id="container">
        <img src="../../assets/logo-lg.png" alt=""/>
        <form id="form" action="">
          <input class="ion-padding" type="text" name="user" id="user-input" placeholder="Telefone, nome de usuário ou email">
          <input class="ion-padding" type="password" name="password" id="password-input" placeholder="Senha">
          <button type="submit" disabled><h3>Entrar</h3></button>
        </form>
        <p>OU</p>
        <p id="facebook-action">
          <ion-icon name="logo-facebook"></ion-icon>
          <b>Entrar com Facebook</b></p>
        <span>Esqueceu a senha?</span>
      </div>

      <div id="register">
        <p>Não tem uma conta? <a href="">Cadastre-se</a></p>
      </div>

      <p>Obtenha o aplicativo.</p>
      <ion-row id="downloads">
        <ion-img src="../../assets/app-store-logo.png" alt=""></ion-img>
        <ion-img src="../../assets/play-store-logo.png" alt=""></ion-img>
      </ion-row>
    </ion-col>
  </ion-row>
  <footer class="ion-margin ion-text-center">
    <div id="links">
      <a href="">Meta </a>
      <a href="">Sobre </a>
      <a href="">Blog </a>
      <a href="">Carreiras </a>
      <a href="">Ajuda </a>
      <a href="">API </a>
      <a href="">Privacidade </a>
      <a href="">Termos </a>
      <a href="">Principais contas </a>
      <a href="">Hashtags </a>
      <a href="">Localizações </a>
      <a href="">Instagram Lite </a>
      <a href="">Carregamento de contatos e  não usuários </a>
      <a href="">Dança </a>
      <a href="">Comida e bebida </a>
      <a href="">Casa e jardim </a>
      <a href="">Música </a>
      <a href="">Artes visuais </a>
    </div>
  </footer>
  <div id="bottom">
    <p class="ion-margin">Português (Brasil)
      <ion-icon name="arrow-down"></ion-icon>
    </p> 
    <p class="ion-margin">&copy; 2022 Ionicgram from Bruno</p>
  </div>
</ion-content>
