#login-content {
    justify-content: center;
    height: 100vh;
    align-items: center;

    #login-mockup {
        max-width: 512px;
        height: 65%;
        background-image: url("../../assets/start_imgs/background-mockup.png");
        
        img {
            position: relative;
            height: 93.5%;
            top: 1rem;
            left: 9.2rem;    
        }
    }

    #login-form {
        background-color: antiquewhite;
        max-width: 512px;
        height: 70%;
    }
}

@media screen and (max-width: 512px){
    #login-mockup {
        display: none;
    }
}