#login-content {
    justify-content: center;
    margin-top: 4.5rem;

    #login-mockup {
        max-width: 512px;
        height: 586px;
        background-image: url("../../assets/start_imgs/background-mockup.png");
        
        #parallax {
            position: absolute;
            height: 90.5%;
            top: 1.6rem;
            left: 10rem;
            background-color: #888b915e;
            height: 92%;
            width: 15.1rem;

            border-radius: 15px;

            transition: .3s ease-in-out;

            z-index: 99;
        }

        #parallax.hidden {
            transition: .3s ease-out;
            background-color: #888b9100;
            z-index: -3;
        }

        img { 
            position: relative;
            height: 93.5%;
            top: 1.2rem;
            left: 9.45rem;
            transition: .4s;
        }

        img.hidden {
            transition: .4s;
            opacity: 40%;
        }
    }

    #login-form {
        max-width: 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid lightgray;
            padding: 1.5rem 3rem;

            img {
                width: 60%;
            }

            #form {
                margin: 1.5rem 0 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                input {
                    background-color: white;
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    margin-bottom: 1rem;
                    width: 350px;
                }

                button {
                    width: 350px;
                    border-radius: 10px;
                    background-color: #3880ff;
                }

                button:disabled {
                    background-color: rgb(164, 216, 233);
                }
            }

            #facebook-action {
                color: #3880ff;
                text-align: center;
                display: flex;
                align-items: center;

                b {
                    margin-left: .2rem;
                };
            }
        }

        #register {
            margin-top: 1rem;;
            padding: 2rem;
            width: 448px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: row;

            p {
                margin: auto;
            }
        }
        #downloads {
            ion-img {
                max-width: 150px;
                margin-right: 1rem;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;

    margin-top: 5rem;
    #links {
        width: 75%;

        a {
            text-decoration: none;
            margin-left: 1.5rem;
            color: gray;
        }
    }
}

#bottom {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 912px){
    #login-mockup {
        display: none;
    }

    #login-content {
        #login-form {
            #container {
                border: none;
            }
            
            #register {
                border: none;
            }
        }
    }
}

@media screen and (max-width: 768px){
    footer {
        font-size: .75rem;
        margin: 0;

        #links {
            text-align: start !important;
        }

        * {
            margin: 0;
        }
    }
    #bottom {
        font-size: .75rem;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 375px){
    #downloads {
        ion-img {
            width: 100px;
        }
    }

    input {
        max-width: 290px;
    }

    button {
        max-width: 290px;
    }
}

