<ion-content>
  <ion-row id="login-content">
    <ion-col id="login-mockup">
      <img src="../../assets/start_imgs/two.png" alt="">
    </ion-col>
    <ion-col id="login-form">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam fuga, accusantium tempore amet iure officia deleniti ea, nemo maiores voluptas veritatis iste blanditiis dolores minima, quas facilis maxime. Ab tenetur, corrupti fuga nemo impedit saepe magnam tempore amet! Architecto necessitatibus unde autem veritatis, sint quos vel fugit aliquam tempora ex?
    </ion-col>
  </ion-row>
</ion-content>
