<ion-grid>
  <ion-row class="profile-info">

    <div class="profile">
      <div class="profile-reels-state">
        <div class="profile-image">
          <img src="../../assets/image.jpg" alt=""/>
          <ion-label></ion-label>
        </div>
      </div>
      <h6><b>nome_da_pessoa</b></h6>
    </div>

    <ion-icon size="small" name="ellipsis-horizontal-outline"></ion-icon>
  </ion-row>

  <img src="../../assets/posts_imgs/gato_000001.jpg" alt="">

  <div class="post-info">
    <ion-row class="post-actions">
      <div id="left-panel">
        <ion-icon name="heart-outline" size="large"></ion-icon>
        <ion-icon name="chatbubble-outline" size="large"></ion-icon>
        <ion-icon name="send-outline" size="large"></ion-icon>
      </div>
      <ion-icon name="bookmark-outline" size="large"></ion-icon>
    </ion-row>
  </div>
</ion-grid>