<ion-grid>
  <div id="post-content">
    <div id="profile-card">
      <ion-row class="profile-info">
        <div class="profile" routerLink="/{{getUserName()}}">
          <div class="profile-reels-state">
            <div class="profile-image">
              <ion-img [src]="'../../assets/' + getUserProfileImage()" alt=""></ion-img>
              <ion-label></ion-label>
            </div>
          </div>
          <h6><b>{{getUserName()}}</b></h6>
        </div>

        <ion-icon id="open{{post?.id}}" size="small" name="ellipsis-vertical-outline"></ion-icon>
        <ion-modal #modal trigger="open{{post.id}}">
          <ng-template>
            <ion-content>
              <ion-grid>
                <ion-row><p><b>Denunciar</b></p></ion-row>
                <ion-row><p><b>Deixar de seguir</b></p></ion-row>
                <ion-row><p>Adicionar aos Favoritos</p></ion-row>
                <ion-row><p>Ir para a publicação</p></ion-row>
                <ion-row><p>compartilhar em...</p></ion-row>
                <ion-row><p>Copiar link</p></ion-row>
                <ion-row><p>Incorporar</p></ion-row>
                <ion-row><p>Cancelar</p></ion-row>
              </ion-grid>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-row>
    </div>
    <ion-img [src]="'../../assets/' + this.post.image" alt="" style="width: 512px"></ion-img>
  
    <div class="post-info">
      <ion-row class="post-actions">
        <div id="left-panel">
          <ion-icon name="heart-outline" size="large"></ion-icon>
          <ion-icon name="chatbubble-outline" size="large"></ion-icon>
          <ion-icon name="send-outline" size="large"></ion-icon>
        </div>
        <ion-icon name="bookmark-outline" size="large"></ion-icon>
      </ion-row>
      <p>Curtido por <b>fulano</b> e <b>outras pessoas</b></p>
      <p><b>fulano</b> Sem comentários 🥱</p>
      <p class="text-light">Ver 1 comentário</p>
      <p class="text-light text-small">Há N DIAS</p>
    </div>
  </div>
</ion-grid>