<app-header class="hidden-mobile"></app-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-padding" id="profile-info">
      <ion-col size="4">
        <img src="{{'../../assets/' + getUserProfileImage()}}" alt="">
      </ion-col>
      <ion-col>
        <ion-row id="name-options">
          <h3>{{getUserName()}}</h3>
          <ion-button><h6>Enviar mensagem</h6></ion-button>
          <ion-button><ion-icon name="person"></ion-icon></ion-button>
          <ion-button><ion-icon name="arrow-down"></ion-icon></ion-button>
          <ion-button><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-button>
        </ion-row>

        <ion-row id="page-status">
          <p><b>{{getPostsByUserId(getUserId()).length }}</b> publicações</p>
          <p><b>{{getUserFollowers()}}</b> seguidores</p>
          <p><b>{{getUserFollowing()}}</b> seguindo</p>
        </ion-row>

        <b>{{getUserName()}}</b>
        <div id="bio">
          <p>{{getUserBio()}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row id="fixed-stories"></ion-row>
    <ion-row id="tab-content">
      <ion-row id="tab-selector" class="ion-justify-content-center">
        <p>PUBLICAÇÕES</p>
        <p>FEED</p>
        <p>REELS</p>
        <p>VÍDEOS</p>
        <p>MARCADOS</p>
      </ion-row>
      <ion-row>
        <ion-col size="4" 
          *ngFor="let post of getPostsByUserId(getUserId())">
          <img src="{{'../../assets/' + post.image}}" alt="">
      </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>

  <app-navbar class="hidden-desktop"></app-navbar>
</ion-content>
