ion-row {
    font-size: .8rem;

    ion-img::part(image) {
        width: 64px;
        border-radius: 50%;
    }

    p {
        margin-left: 1rem;
    }

    ion-button {
        --background: #3c89fb;
        --border-radius: 25px;
        font-size: .7rem;
        font-weight: bold;
    }
}