#stories {
    width: 600px;
    margin-top: 2rem;
    padding: 1.3rem .2rem;
    border: 1px solid lightgray;
    border-radius: 5px;

    .storie-view-state {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
    
        background: hsla(46, 100%, 50%, 1);
        background: linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(320, 100%, 45%, 1) 50%, hsla(358, 100%, 78%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(320, 100%, 45%, 1) 50%, hsla(358, 100%, 78%, 1) 100%);
        background: -webkit-linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(320, 100%, 45%, 1) 50%, hsla(358, 100%, 78%, 1) 100%);
        
        .storie {
            width: 66px;
            height: 66px;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .reels {
        display: flex;
        flex-direction: column;

        * {
            padding: 0;
            margin: 0;
        }
        
        h6 {
            margin-top: .4em;
            font-size: .67em;
        }
    }
}

@media screen and (max-width: 512px){
    #stories {
        margin: .5rem 0rem 0;
        padding: 0;
        padding-bottom: 1rem;
        border: none;
        border-bottom: 1px solid lightgray;
    }

    .content {
        padding: 0;
    }
}

@media screen and (min-width: 512px){
    #home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #stories {
            max-width: 512px;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 1200px){
    #lateral {
        display: none;
    }
}
@media screen and (min-width: 1200px){
    ion-grid {
        flex-direction: row;
    }

    #home-content {
        display: inline-flex;
        flex-direction: column;
        align-items: end;
        
        
        #stories {
            max-width: 512px;
            margin-bottom: 0;
            margin-right: 5px;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }

    #lateral {
        margin-top: 2.4rem;
        margin-left: 2.8rem;
        position: absolute;
        height: 50%;

        .lateral-item {
            max-width: 25rem;
            justify-content: space-between;

            .profile-row {
                display: flex;

                .self-profile {
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color:rgb(0, 162, 255)
            }
        }

        #suggestions-text {
            max-width: 24rem;
            #suggestions-label {
                color: lightslategray;
            }
    
            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}


