#stories {
    width: 600px;
    margin: 2rem;
    padding: 2rem 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.storie-view-state {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;

    background: hsla(46, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(320, 100%, 45%, 1) 50%, hsla(358, 100%, 78%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(320, 100%, 45%, 1) 50%, hsla(358, 100%, 78%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(46, 100%, 50%, 1) 0%, hsla(320, 100%, 45%, 1) 50%, hsla(358, 100%, 78%, 1) 100%);
}

.storie {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 930px){
    ion-grid {
        display: block;
    }
    #stories {
        margin: 0 2rem;
        padding: 0;
        border: none;
    }
}